.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.containerNumberTasks {
    width: 36rem;
   /* margin-top: 5rem;
    margin-left: 23.5rem; */
    display: flex;
    justify-content: space-between;
}

.tarefasCriadas, .concluidas {
    display: flex;
}

.tarefasCriadas {
    color: var(--blue);
}

.concluidas {
    color: var(--purple);
}

.number {
    background-color: var(--gray-400);
    font-size: 12px;
    color: var(--gray-200);
    padding: 3px 8px;
    border-radius: 16px;
}